@media (max-width: 650px){
    #header{
      background-image: url(moblie.png);
    }
    .header-text{
      margin-top: 75% !important;
      font-size: 20px;
    }
    .header-text h1{
      font-size: 2.75rem !important;
      /* scale: 0.5; */
    }
    nav .fa-solid{
      display: block;
      font-size: 25px;
    }
    nav ul{
      background: #696969;
      position: fixed;
      top: 0;
      left: -200px;
      width: 200px;
      height: 100vh;
      padding-top: 50px;
      z-index: 2;
      transition: left 0.5s;
    }
    nav ul li{
      display: block;
    }
    nav ul li a{
      font-size: 15px;
    }
    nav ul .fa-solid{
      position: absolute;
      top: 25px;
      left: 25px;
      cursor: pointer;
    }
  
    .subtitle{
      font-size: 40px;
    }
    .about-col-1, .about-col-2{
      flex-basis: 100%;
    }
    .about-col-1{
      margin-bottom: 30px;
    }
    .about-col-2{
      font-size: 14px;
    }
    .tab-links{
      font-size: 12px;
    }
    .contact-left, .contact-right{
      flex-basis: 100%;
    }
    .contact-left p{
      font-size: 15px;
    }
    .contact-left #icon{
      font-size: 15px;
    }
    .b{
      margin-bottom: 20px;
    }
    .social-icons{
      padding-left: 50px;
    }
    .copyright{
      font-size: 14px;
    }
  }
  @media only screen and (max-width: 885px){
    .container .nav-bar{
      margin-left: 10%;
      flex-basis: 100%;
    }
    nav ul li a{
      font-size: 15px;
    }
  }
  
@media (max-width: 1064px){
  .container .nav-bar{
    width: fit-content;
    height: relative;
    margin-left: 9%;
  }
  .header-text{
    margin-top: 25%;
  }
  .header-text h1{
    font-size: 5rem;
  }
}